<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="/img/logo.png">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/main.js"></script>
        <title>Dashboard | <%- APP_NAME%> <%- APP_VERSION %></title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 sidebar text-center">
                    <div id="header" class="row sidebar-header text-center">
                        <div class="col-sm p-4">
                            <img class="w-50" src="img/logo.png" alt="">
                        </div>
                        <div class="col p-4">
                            <h4 class="font-weight-bold">
                                <%- APP_VERSION %>
                            </h4>
                        </div>
                    </div>
                    <% var button = []; %>
                    <% sidebarComponent.forEach(function(element){ %>
                        <div id="<%= element.id %>" class="row sidebar-component mt-2">
                            <div class="col-sm-3 pt-2 pb-2">
                                <img class="w-100" src="<%= element.icon %>" alt="">
                            </div>
                            <div class="col pt-2 pb-2 text-center">
                                <%- element.text %>
                            </div>
                        </div>
                    <% }); %>
                </div>
                <div class="col-sm ">
                    <div class="row topnavbar">
                        <div class="col text-left p-2">
                            <h4 id="title">
                                <%- title%>
                            </h4>
                        </div>
                        <div class="col text-right p-2">
                            <form action="/dashboard/signout" method="post">
                                <button type="submit" class="btn btn-outline-light">Log out</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div id="content" class="col border p-4"> </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
